[Desktop Entry]
Name=ScreenGuard (Digital Wellbeing)
Comment=ScreenGuard — Digital Wellbeing for Linux
Exec=/usr/bin/screenguard
Icon=screenguard
Terminal=false
Type=Application
Categories=Utility;Clock;System;
StartupWMClass=screenguard
StartupNotify=true
Keywords=screenguard;screen;time;wellbeing;focus;limit;
X-GNOME-Autostart-enabled=true
